<h1>404 - Not Found</h1>

body {
			 margin: 0;
			 background-image: url(../img/404.jpeg);
			 background-repeat: no-repeat;
			 background-position:center center fixed;
			 display: compact;
			 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}