<div class="container" style="display: none;">
  <div style="text-align: center;">

      <img src="../img/about.jpg" alt="a" > </img>
      <h1> DogeVideo </h1>
      <h2>Fun for the whole family</h2>

      <p>
          DogeVideo was constructed with one goal in mind: Low prices and Easy rentals.
      </p>

      <p>
          The primary goal is to connect people with our massive video database from the comfort of your home
      </p>
  </div>

  <div>

      <p style="text-align: left;">
      <ul style="margin-left: 10%; margin-right: 10%;">
          <li>
              Perfect for anyone who enjoys movies
          </li>
          <li>
              Looking for somthing fun to watch tonight?
              <br>
              DogeVideo is dedicated to its customers. That is why you are only a click away from renting from any of our box office specials. We provide instant speed rentals for anyone wanting our services.
          </li>
          <li>
              Users can change their plan at any time and we won't take away any additional movies you have rented if they exceed the maximum
          </li>
          <li>
              We have no monthly restrictions, keep movies as long as you want, and leave your plan whenever you want.
          </li>
          <li>
              DogeVideo is quickly rising and is looking for partners
          </li>
      </ul>

      </p>

  </div>
</div>

<script src="../js/about.js"></script>
