<div class="container" style="display: none;">
  <div style="text-align: center;">
      <h1> Find your flock team oriole </h1>
      <h2> Fast collaboration and communication</h2>

      <p>
          Find your Flock idea was constructed with one goal in mind: Fast collaboration and communication.
      </p>

      <p>
          The primary goal is to connect people through common interests without the hassle of making an account.
      </p>
  </div>

  <div>

      <p style="text-align: left;">
      <ul style="margin-left: 10%; margin-right: 10%;">
          <li>
              Perfect for gamers and team players alike who share common interests and want connect to a community of fellow competitors.
          </li>
          <li>
              Need an extra player for your gaming party?
              <br>
              FyF provides a resource for users lacking players for their party in an online video game. A user from the landing page can select the gaming category. This will bring up a menu of games for them to select from. After picking their desired game a user can create a chat room with a title such as “Looking for fifth to play X game”. Then other users can join this chat and information can be exchanged.
          </li>
          <li>
              Users who want to create chatrooms are invited to make an account, Anonymous users can post in the chatroom without an account, creating fast collaboration.
          </li>
          <li>
              Chatrooms that are inactive for 15 minutes are deleted, favoring fresh chatrooms for fast collaboration
          </li>
          <li>
              FyF has a multitude of different categories, from games to sports to hobbies.
          </li>
      </ul>

      </p>

  </div>
</div>

<script src="../js/about.js"></script>
