<link rel ="stylesheet" type ="text/css" href ="../css/faq.css">



<div class="questionContainer">

	<img src="../img/faq.jpg" alt="a" > </img>

	<h1>Frequently Asked Questions</h1>

	<div class = "question1">
		<h2>
		How do I login?
		</h2>

		<p>
		Login by going to the <a href="../user/login"> Login Page </a> and 	entering your username and password!
		<p>
	</div>

	<div class = "question2">
		<h2>
		Why should I use DogeVideo?
		</h2>

		<p>
		DogeVideo is a videostore designed to serve you! We have top quality compedetive search features from one of the largest video database in the world. If that isn't enough of a reason to use DogeVideo, checkout our ultra low prices starting at $19.99. 
		<p>
	</div>

	<div class = "question3">
		<h2>
		How do I get to the FAQ page?
		</h2>

		<p>
		Congratulations you did it!
		<p>
	</div>

</div>

<script src="../js/faq.js"></script>
