<link rel ="stylesheet" type ="text/css" href ="../css/faq.css">

<div class="questionContainer">

	<h1>Frequently Asked Questions</h1>

	<div class = "question1">
		<h2>
		How do I login?
		</h2>

		<p>
		Login by going to the <a href="../user/login"> Login Page </a> and 	entering your username and password!
		<p>
	</div>

	<div class = "question2">
		<h2>
		Why should I use FYF?
		</h2>

		<p>
		FYF provides fast collaboration online for people with similar interests. Make an account or just get right into a chat room and start chatting with like-minded people!.
		<p>
	</div>

	<div class = "question3">
		<h2>
		How do I get to the FAQ page?
		</h2>

		<p>
		Congratulations you did it!
		<p>
	</div>

</div>

<script src="../js/faq.js"></script>
