<link rel="stylesheet" type="text/css" href="../css/profile.css">

<div class="container-fluid profile">

	<h2> User Profile </h2>

	<div class="col-md-2 avatar">
			<p>{{name}}</p>
			<p>{{admin}}</p>
			<img src="../img/tim.png" alt="Tim Richards" height="200">
		</div>

		<div class="col-md-8 info">
			<p>Name: John Smith
			<p>E-mail: jsmith@test.com</p>
			<p>City: TestCity</p>
			<p>Mail Address: 123 TestStreet</p>
			<p>Plan: 2</p>
			<p>Homepage: Link</p>
		</div>

	</div>
</div>

<script src="../js/profile.js"></script>
