<link rel="stylesheet" type="text/css" href="../css/profile.css">

<div class="container-fluid profile">

	<h2> User Profile </h2>

	<div class="col-md-2 avatar">
			<p>{{name}}</p>
			<p>{{admin}}</p>
			<img src="../img/tim.jpg" alt="Tim Richards" height="200">
		</div>

		<div class="col-md-8 info">
			<p>Name: Tim Richards
			<p>Position: Lecturer</p>
			<p>Office: CS258</p>
			<p>Phone: (413) 545-4704</p>
			<p>Email: richards@cs.umass.edu</p>
			<p>Homepage: Link</p>
		</div>

	</div>
</div>

<script src="../js/profile.js"></script>
