<div>{{message}}</div>

<div class="container">
  	<h1>Search</h1>

  	<iframe src=../public/img/422.jpeg></iframe>



  	<form class="form">
  		<div class="form-group">
  			<label for="MovieName">Search</label>
  			<input type="text" class="form-control" id="search" name="MovieName" placeholder="Movies, actors, directors, etc.">
  		</div>

  		<button onclick="searchfunc()" class="btn btn-default">GO!</button>
  	</form>

  	
</div>