body {
			 margin: 0;
			 background-image: url(../img/faq.jpeg);
			 background-repeat: no-repeat;
			 background-position: left;
			 display: compact;
			 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.questionContainer {
	text-align: center;
	margin: 9%;
	display: none;
}

.question1 {
	text-align: left;
	margin-top: 5%;
}

.question2{
	text-align: left;
	margin-top: 5.01%;
}

.question3{
	text-align: left;
	margin-top:5.02%;
}
