.selection * {
  padding: 30px;
  text-align: center;
}

.subject {
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #009933;
}

.avatar{
  padding:5px;
  border: 2px solid #000000;
  color: #000000;
  font-weight: bold;

}

.info {
  color: #000000;
  font-size: 18px;
}

.profile {
  text-align: center;
  color: #00ff00;
  display: none;
}
